<% include ./header %>

<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <h1><%= host.type %></h1>
                       <%# <h2 class="subheading">Problems look mighty small from 150 miles up</h2>%>
                       <span class="meta">Posted by <a href="#"><%= host.event %></a> on <%= host.type %></span>
                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- Post Content -->
   <article>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p>
                    <%= host.eventId %>
                  </p>
               </div>
           </div>
       </div>
   </article>

   <hr>
<% include ./footer %>
