<% include ./header %>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/images/contact-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Customer List</h1>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- or use local jquery -->
<script src="/javascripts/jqBootstrapValidation.js"></script>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% customerList.forEach(function(customer) { %>
        <div class="post-preview">
            <%if(customer.account == 'test') {%>


              <h2 class="post-title">客戶姓名：
                <%}else{%>
                  <a href="/customer/<%= customer.id %>">
                  <h2 class="post-title">
                        <%= customer.customerName %>
                    <%}%>
                  </h2>
                </a>
              </div>
              <hr>
              <%  }); %>
            </div>
          </div>
        </div>

        <hr>
        <% include ./footer %>
