<% include ./header %>
<!-- views/profile.ejs -->
<header class="intro-header" style="background-image: url('../images/home-page.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>建置中.</h1>
          <hr class="small">
          <span class="subheading">Just a homework.</span>
        </div>
      </div>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.0.0.js"
  integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="
  crossorigin="anonymous"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1><%= participateMemberList[0].eventName%></h1>
      <%if(participateMemberList){%>
        <% participateMemberList.forEach(function(list) { %>
          <h2 class="post-title">
            <a href="/customer/<%= list.customerId %>">
              姓名 : <%= list.customerName%>
            </a>
            帳號 : <%= list.account%>
            <h2 class="post-title">
              <%  });} %>
              <!-- Pager -->
              <!-- <ul class="pager">
                <li class="next">
                  <a href="#">Older Posts &rarr;</a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>

        <hr>
        <% include ./footer %>
