<% include ./header %>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../images/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>建置中.</h1>
          <hr class="small">
          <span class="subheading">Just a homework.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="/javascripts/pie.js"></script>
<script src="/javascripts/jquery-3.0.0.js"></script>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1><%= participateMemberList[0].eventName%></h1>
      <%if(participateMemberList){%>
        <% participateMemberList.forEach(function(list) { %>
          <h2 class="post-title">
            <a href="/customer/<%= list.customerId %>">
              姓名 : <%= list.customerName%>
            </a>
            帳號 : <%= list.account%>
            <h2 class="post-title">
              <%  });} %>
              <!-- Pager -->
              <ul class="pager">
                <li class="next">
                  <a href="#">Older Posts &rarr;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr>
        <% include ./footer %>
