<% include ./header %>
<!-- views/profile.ejs -->
    <header class="intro-header" style="background-image: url('./images/home-page.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>建置中.</h1>
                        <hr class="small">
                        <span class="subheading">Just a homework.</span>
                    </div>
                </div>
            </div>
        </div>
        <script
			  src="https://code.jquery.com/jquery-3.0.0.js"
			  integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="
			  crossorigin="anonymous"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    </header>
	<div id="container" style="height: 400px"></div>
	<script>
		$(function () {
			Highcharts.setOptions({
				colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
				});
			
				$('#container').highcharts({
					chart: {
					type: 'pie'
					},
					
					series: [{
					data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
				}]
			});
		});
	</script>
<% include ./footer %>
